<!doctype html>
<head>
    <title>NBA Popularity Trends</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<div class="container">
    <div id="title">
        <h1>How Much Does An NBA Player Affect His Team's Popularity?</h1>
    </div>
    <div id="graph">
        <div id="graph-top">
            <select>
                <option>LeBron James</option>
                <option>Stephen Curry</option>
                <option>Karl-Anthony Towns</option>
                <option>James Harden</option>
            </select>
            <span id="graph-title">LeBron James of the Cleveland Cavaliers</span>
        </div>
    </div>
    <p>The success of a basketball team is dependent on the chemistry of the five players on the court. However, often times, an individual player is rewarded or blamed for the performance of his team. Regardless of whether they’re directly responsible for the numbers a team puts up, perceptions drive sports. Let’s compare global popularity trends of various players and the teams they played for.</p>
    <p>Annotations are provided for milestones (e.g. draft, trade, major injury, major wins/losses, etc).</p>
    <p>The data used comes from Google Trends.</p>

</div>

</body>
</html>